html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  padding-top: 55px;
}

* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
nav  img {
  width: 20px;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  height: 55px;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  background-color: white;
}

nav .brand,
nav .search,
nav .links, {
  display: flex;
  align-items: center;
}

nav .menu {
  max-height: 25px;
  margin-right: 30%;
}

nav .brand-logo {
  display: flex;
  align-items: center;
  font-weight: bold;
}

nav .brand-logo img {
  margin-right: .25rem;
  width: 25px;
}

nav .links a {
  padding: 0 1rem;
}

nav .avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

nav .search {
  display: flex;
  flex-grow: 2;
  margin: 0 5% 0 15%;
}

nav .search input {
  width: 80%;
  font-size: 1rem;
  font-weight: 500;
}

nav .search input:focus {
  outline: none;
}

main {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-column-gap: 1%;
}

main .main-content, main .other-videos {
  height: calc(100vh - 55px);
  overflow-y: auto;
  padding-top: .5rem;
}

.other-videos {}

.video-thumbnail {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-column-gap: .5rem;
  padding:  15px;
}

.thumbnail-content h3 {
  margin: 0px;
  font-size: 1rem;
  max-width: 90%;
}

.thumbnail-content p {
  font-size: 0.8rem;
  margin: 0px;
  margin-top: 0.35rem;
  color: slategray;
  max-width: 60%;
}

.main-content {
  padding-left: 1rem;
}

.main-video {
  width: 90%;
  height: 60vh;
  margin: .9rem auto;
  display: block;
}

.main-content h2  {
  margin: auto;
  width: 90%;
}
.video-actions {
  width: 90%;
  margin: .9rem;
}

main .video-actions {
  display: flex;
  justify-content: space-between;
}

span .icons-container {
  display: flex;
}

.video-actions .icon {
  height: 21px;
}
